/* Основні стилі */
:root {
  --main-color: #333;
  --background-color: #f7f7f7;
  --header-bg-color: #f3f3f3;
  --border-color: #ccc;
  --shadow-color: #0000001A;
  --font-color: #444;
  --link-color: #007aff;
  --link-hover-color: #005fcc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--main-color);
  background-color: var(--background-color);
}

a {
  text-decoration: none;
  color: var(--main-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--font-color);
}

/* Стилі шапки */
header {
  padding: 1.5rem;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 2px 4px var(--shadow-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style-type: none;
  margin-right: 1rem;
}

.nav-link {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Стилі головного контенту */
main {
  padding: 2rem 0;
}

.hero-text {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 300;
}

h1 {
  color: #fff;
  font-size: 3.5rem
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.animated-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--link-color);
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.animated-button:hover {
  background-color: var(--link-hover-color);
}

.animated-button.pulse {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Стилі підвалу */
footer {
  padding: 1.5rem;
  background-color: var(--header-bg-color);
  border-top: 1px solid var(--border-color);
  box-shadow: 0 -2px 4px var(--shadow-color);
  text-align: center;
}

/* Мобільні телефони */
@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  main {
    padding: 1rem 0;
  }
}

/* Планшети */
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Тут можна додати стилі для планшетів */
  nav ul li {
    margin-right: 1rem;
  }

  main {
    padding: 1.5rem 0;
  }
}

/* Настільні комп'ютери */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
  /* Тут можна додати стилі для настільних комп'ютерів */
  main {
    padding: 2rem 0;
  }
}

/* Великі настільні комп'ютери */
@media only screen and (min-width: 1200px) {
  /* Тут можна додати стилі для великих настільних комп'ютерів */
  nav ul li {
    margin-right: 1.5rem;
  }

  main {
    padding: 2.5rem 0;
  }
}

